{% load static %}
<html>
<head>
	<title>Django blog</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
	rel="stylesheet">
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
	<header>
		<div class="nav-left">
			<h1><a href="{% url 'home' %}">Django Blog</a></h1>
		</div>
		{% if user.is_authenticated %}
		<div class="nav-right">
			<p>Hi {{ user.username }}!</p>
			<p> | <a href="{% url 'logout' %}">Log out</a></p>
			<p> | <a href="{% url 'blog_new' %}"> New Blog Post</a></p>
		</div>
		{% else %}
		<div class="nav-right">
			<p>
				<a href="{% url 'login' %}">Log in</a> | 
				<a href="{% url 'signup' %}">Sign Up</a>
			</p>
		</div>
		{% endif %}
	</header>
	<div>
		{% block content %}
		{% endblock content %}
	</div>
</body>
</html>